.classBody {
    /* background-color: yellowgreen; */
    background-image: url('back.jpg');
    padding: 20px 20px;
}

#wordHangman {
    color: brown;
}

.header {
    text-align: center;
    padding-bottom: 5;
}

.content {
    text-align: center;
}

.myButton {
    text-align: center;
}
.tombolUlangi{
   text-align: center;
}

.row{
    width: 40%;
    padding: 10px 1px;
}

.buttons{
    padding: 20px;
}